.login-logo a,
.register-logo a {
    color: #fff;
}

.login-page,
.register-page {
    background-image: -moz-linear-gradient(135deg, rgba(70, 130, 8, 0.8) 100%, rgba(71, 121, 20, 0.8) 100%);
    background-image: -webkit-linear-gradient(135deg, rgba(70, 130, 8, 0.8) 100%, rgba(71, 121, 20, 0.8) 100%);
    background-image: -ms-linear-gradient(135deg, rgba(70, 130, 8, 0.8) 100%, rgba(71, 121, 20, 0.8) 100%);
    background-image: linear-gradient(135deg, rgba(70, 130, 8, 0.8) 100%, rgba(71, 121, 20, 0.8) 100%);
}

a {
    color: #468208;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #324e14;
}

.skin-red .sidebar-menu>li.active>a {
    border-left-color: #468208;
}

.btn-custom {
    color: white;
    background-color: #437c0a !important;
    border-color: #468208 !important;
}

.btn-custom:hover {
    color: white;
    background-color: #324e14 !important;
    border-color: #324e14 !important;
}

.skin-red .main-header .logo {
    background-color: #468208;
    color: #fff;
    border-bottom: 0 solid transparent;
}

.skin-red .main-header .logo:hover {
    background-color: #468208;
}

.skin-red .main-header .navbar .sidebar-toggle:hover {
    background-color: #468208;
}

.skin-red .main-header .navbar {
    background-color: #468208;
}

.widget-color {
    color: white;
    background-color: #468208;
}

.invoice {
    margin: 0px;
}

.container-login-box {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    background: #0250c5;
    background: -webkit-linear-gradient(bottom, #468208, #39630d);
    background: -o-linear-gradient(bottom, #468208, #39630d);
    background: -moz-linear-gradient(bottom, #468208, #39630d);
    background: linear-gradient(bottom, #468208, #39630d);
    position: relative;
    z-index: 1;
}

.container-login-box::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/img-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-box-body,
.register-box-body {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.box {
    position: relative;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 0px;
    border-top: 0px;
}

.box-header .box-title {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: #32325d;
}

.box-header {
    padding: 1.25rem 1.5rem;
}

.box .box-danger {
    border-top: 3px solid #dd4b39 !important;
    border-top-color: #dd4b39 !important;
}

.border-radius-zero {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.table>thead>tr>th {
    border-bottom: 2px solid #f4f4f4;
    color: #8898aa;
    background-color: #f6f9fc;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.table>tbody>tr>td {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: #fff;
}

.table {
    margin-bottom: 0px !important;
}

.box-body,
.box-footer {
    background: #f7fafc;
    padding: 1.5rem;
}

.heading-small {
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: .04em;
    text-transform: uppercase;
    font-weight: 600;
}

.text-muted {
    color: #8898aa !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

label {
    font-weight: normal;
}

.form-control {
    line-height: 1.5;
    display: block;
    width: 100%;
    padding: .625rem .75rem;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid #cad1d7;
    border-radius: .375rem;
    background-color: #fff;
}

.input-group .input-group-addon {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.datepicker-days table tr td.active {
    background: 0 0;
    background-color: #39630d !important;
}

.modal-notification .modal-content {
    /* color: #fff; */
    /* background-color: #f5365c; */
}

.modal-notification .modal-body {
    position: relative;
    padding: 1.5rem;
    flex: 1 1 auto;
}

.heading {
    font-weight: 600;
    letter-spacing: .025em;
    text-transform: uppercase;
}

.bg-gradient-danger {
    /* background: linear-gradient(87deg,#c03248 0,#39630d 100%)!important; */
}

.modal-content {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.fa-3x {
    font-size: 3em;
}

.modal-center {
    top: 30% !important;
    transform: translateY(-30%) !important;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover {
    background-color: #39630d;
    background-image: -moz-linear-gradient(to bottom, #468208, #39630d);
    background-image: -ms-linear-gradient(to bottom, #468208, #39630d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#468208), to(#39630d));
    background-image: -webkit-linear-gradient(to bottom, #468208, #39630d);
    background-image: -o-linear-gradient(to bottom, #468208, #39630d);
    background-image: linear-gradient(to bottom, #468208, #39630d);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468208', endColorstr='#39630d', GradientType=0);
    border-color: #39630d #39630d #39630d;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

.skin-red .main-header li.user-header {
    background-color: #39630d;
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border-radius: .375rem;
}

.font-18 {
    font-size: 18px;
}

.list-group-unbordered>.list-group-item {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.small-box {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.small-box .icon {
    font-size: 46px;
    top: -2px;
}

.small-box:hover .icon {
    font-size: 48px !important;
}

.small-box>.small-box-footer {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 6px;
}

.box.box-solid>.box-header .btn:hover,
.box.box-solid>.box-header a:hover {
    background-color: #468208;
}

.bg-sagcic {
    background-color: #39630d !important;
    color: white !important;
}

.nav-tabs-custom {
    background: 0 0 !important;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #39630d;
}

.nav-tabs-custom>.nav-tabs>li {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: white;
}

.nav-tabs-custom>.tab-content {
    border-top-right-radius: 8px;
}

/* Resolvendo conflito entre datepicker e x-editable */
.datepicker>div {
    display: inherit;
}

.set-border-right-radius-4px {
    border-radius: 0px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.set-border-right-radius-0px {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.navbar-nav>.notifications-menu>.dropdown-menu {
    width: 460px !important;
}

.todo-list>li .tools>.fa {
    font-size: 21px !important;
}

.set-border-red {
    border: 2px solid red;
}

.small-box h3 {
    font-size: 26px !important;
}

.notification-link {
    color: #444;
}

.line {
    -moz-animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    animation-name: fadeIn;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.line.fadeOut {
    -moz-animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    -ms-animation-name: fadeOut;
    animation-name: fadeOut;
}

.box-info-ligth {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.red-border {
    border: 2px solid red !important;
}

.set-cursor {
    color: #468208;
    cursor: pointer;
}

.auth-links {
    margin-top: 10px;
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}
